@page "/profile"
@model PropayTest.Pages.Profile.ProfileModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Profile</title>
    @* <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> *@

    <link rel="stylesheet" href="~/css/Profile.css" />
</head>

<body>
    @if (Model.User != null)
    {
        <div class="container-all">

            <div class="navbar">
                <a href="#">Profile</a>
                <a href="#">Leaderboard</a>
                <a href="#">Create a Question</a>
                <a href="#">Create a Quiz</a>
                <a href="#">My Performance</a>
                <a href="#">Participant Results</a>
                <a href="#">Sign Out</a>
            </div>

            <div class="dashboard" style="overflow-x: hidden;">

                <div class="dashboard-top-section">
                    <h1>@Model.User.FullName</h1>
                    <h4><partial>@@</partial>@Model.User.UserName</h4>
                </div>


                <div class="dash-section">

                    <h1 class="dash-section-title">Recently Solved</h1>
                    <div class="list-container">

                        <ion-icon name="arrow-dropleft-circle" class="list-icon" id="back-btn-1"></ion-icon>


                        <div class="scroll-list">
                            <div class="scroll-item">Item 1</div>
                            <div class="scroll-item">Item 2</div>
                            <div class="scroll-item">Item 3</div>
                            <div class="scroll-item">Item 4</div>
                            <div class="scroll-item">Item 5</div>
                            <div class="scroll-item">Item 6</div>
                            <div class="scroll-item">Item 7</div>
                            <div class="scroll-item">Item 8</div>
                        </div>


                        <ion-icon name="arrow-dropright-circle" class="list-icon" id="forward-btn-1"></ion-icon>
                    </div>
                </div>
                <div class="dash-section">
                    <h1 class="dash-section-title">Popular Quizzes</h1>
                    <div class="list-container">
                        <ion-icon name="arrow-dropleft-circle" class="list-icon" id="back-btn-2"></ion-icon>

                        <div class="scroll-list">
                            <div class="scroll-item">Item 1</div>
                            <div class="scroll-item">Item 2</div>
                            <div class="scroll-item">Item 3</div>
                            <div class="scroll-item">Item 4</div>
                            <div class="scroll-item">Item 5</div>
                            <div class="scroll-item">Item 6</div>
                            <div class="scroll-item">Item 7</div>
                            <div class="scroll-item">Item 8</div>
                        </div>
                        <ion-icon name="arrow-dropright-circle" class="list-icon" id="forward-btn-2"></ion-icon>
                    </div>
                </div>
                <div class="dash-section">
                    <h1 class="dash-section-title">Top Performers</h1>
                    <div class="list-container">
                        <ion-icon name="arrow-dropleft-circle" class="list-icon" id="back-btn-3"></ion-icon>

                        <div class="scroll-list">
                            <div class="scroll-item">Item 1</div>
                            <div class="scroll-item">Item 2</div>
                            <div class="scroll-item">Item 3</div>
                            <div class="scroll-item">Item 4</div>
                            <div class="scroll-item">Item 5</div>
                            <div class="scroll-item">Item 6</div>
                            <div class="scroll-item">Item 7</div>
                            <div class="scroll-item">Item 8</div>
                        </div>
                        <ion-icon name="arrow-dropright-circle" class="list-icon" id="forward-btn-3"></ion-icon>
                    </div>
                </div>





            </div>
        </div>

    }
    else
    {
        <p>User not found or you are not authorized to view this profile.</p>
    }

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script>
        let scrollContainers = document.querySelectorAll(".scroll-list");

        let backBtnOne = document.querySelector("#back-btn-1");
        let forwardBtnOne = document.querySelector("#forward-btn-1");

        let backBtnTwo = document.querySelector("#back-btn-2");
        let forwardBtnTwo = document.querySelector("#forward-btn-2");

        let backBtnThree = document.querySelector("#back-btn-3");
        let forwardBtnThree = document.querySelector("#forward-btn-3");

        scrollContainers.forEach(scrollContainer => {
            scrollContainer.addEventListener("wheel", (e) => {
                e.preventDefault();
                scrollContainer.scrollLeft += e.deltaY
            });
        });

        backBtnOne.addEventListener("click", (e) => {
            scrollContainers[0].scrollLeft -= 400;
        });
        forwardBtnOne.addEventListener("click", (e) => {
            scrollContainers[0].scrollLeft += 400;
        });

        backBtnTwo.addEventListener("click", (e) => {
            scrollContainers[1].scrollLeft -= 400;
        });
        forwardBtnTwo.addEventListener("click", (e) => {
            scrollContainers[1].scrollLeft += 400;
        });

        backBtnThree.addEventListener("click", (e) => {
            scrollContainers[2].scrollLeft -= 400;
        });
        forwardBtnThree.addEventListener("click", (e) => {
            scrollContainers[2].scrollLeft += 400;
        });
    </script>
</body>


</html>



@* <h1>User Profile</h1>

    @if (Model.User != null)
    {
    <div>
    <p><strong>ID:</strong> @Model.User.Id</p>
    <p><strong>Username:</strong> @Model.User.UserName</p>
    <p><strong>Email:</strong> @Model.User.Email</p>
    <!-- Add other properties as needed -->
    </div>
    }
    else
    {
    <p>User not found or you are not authorized to view this profile.</p>
    } *@