@page "/profile"
@model PropayTest.Pages.Profile.ProfileModel

@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Profile</title>
    <link rel="stylesheet" href="~/css/Profile.css" />

    <!-- Include Popper.js before Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <!-- Include Bootstrap CSS and JS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    @if (Model.User != null)
    {
        <div class="container-all">

            <!-- The First Modal -->
            <div id="firstModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                  <div class="close-container">
                      <h4>Create...</h4>
                      <button class="close">
                          <img src="/icons/close.png"/ class="close-img">
                      </button>
                  </div>
                
                <div class="create-buttons-container">
                    <button class="modal-btn-create">
                    <img src="/icons/question.png" alt="question.png" />
                    <h4>Question</h4>
                </button>
                @if (@Model.errorMessage.Length > 0)
                {
                    <button class="modal-btn-create" data-bs-toggle="popover" title="Not enough questions" data-bs-content="@Model.errorMessage">
                        <img src="/icons/quiz.png" alt="quiz.png" />
                        <h4>Quiz</h4>
                    </button>
                }
                @if (@Model.errorMessage.Length == 0)
                {
                    <button id="openSecondModalBtn" class="modal-btn-create" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                        <img src="/icons/quiz.png" alt="quiz.png" />
                        <h4>Quiz</h4>
                    </button>
                }
                </div>
              </div>
            </div>

            <!-- The Second Modal -->
            <div id="secondModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                  <div class="close-container">
                      <h4>Pick at least 5 questions <span id="questions-selected">- Questions selected: 0</span></h4>
                      <button class="close secondClose">
                          <img src="/icons/close.png"/ class="close-img">
                      </button>
                  </div>
                  <div class="modal-body-scrollable">
                      <form id="pick-questions-form" method="post" asp-page-handler="PickQuestions" style="position:absolute;">
                                <input type="hidden" id="selectedQuestions" name="SelectedQuestionIds" style="position:absolute;">
                            </form>
                                @foreach (var question in Model.Questions)
                                {
                                    <div class="modal-question" data-id="@question.QuestionId">
                                        <h6>by @@ @Model.User.UserName </h6>
                                        <h6>@question.QuestionText</h6>
                                        <p>A) @question.Choice1</p>
                                        <p>B) @question.Choice2</p>
                                        <p>C) @question.Choice3</p>
                                        <p>D) @question.Choice4</p>
                                    </div>
                                } 
                                
                  </div>
                <div class="modal-footer">
                    <button id="backToFirstModalBtn">Go Back to First Modal</button>
                     <button onclick="submitSelectedQuestions()" class="btn btn-primary"  style="font-size: 20px;">Submit</button>
                </div>
                
              </div>
            </div>

            <div class="navbar">
                <button type="button" class="btn-create" id="openModalBtn">Create...</button>
                <a href="#">Profile</a>
                <a href="#">Leaderboard</a>
                <a href="#">My Performance</a>
                <a href="#">Participant Results</a>
                <form method="post" asp-page-handler="SignOut">
                    <button type="submit">Sign Out</button>
                </form>
            </div>

            <div class="dashboard" style="overflow-x: hidden;">

                @if(@TempData["SuccessMessage"] != null)
                {
                    <div class="dashboard-top-section" style="height: 100px; display: flex; flex-direction: row; justify-content: flex-end;">
                         <div class="success-alert-animated">
                            @TempData["SuccessMessage"]
                        </div>
                    </div>
                }
                @if(@TempData["SuccessMessage"] == null)
                {
                    <div class="dashboard-top-section" style="height: 100px">
                          <div class="success-alert-none"></div>
                    </div>
                }


                <div class="dash-section">

                    <h1 class="dash-section-title">Recently Solved</h1>
                    <div class="list-container">

                        <ion-icon name="arrow-dropleft-circle" class="list-icon" id="back-btn-1"></ion-icon>


                        <div class="scroll-list">
                            <div class="scroll-item">Item 1</div>
                            <div class="scroll-item">Item 2</div>
                            <div class="scroll-item">Item 3</div>
                            <div class="scroll-item">Item 4</div>
                            <div class="scroll-item">Item 5</div>
                            <div class="scroll-item">Item 6</div>
                            <div class="scroll-item">Item 7</div>
                            <div class="scroll-item">Item 8</div>
                        </div>


                        <ion-icon name="arrow-dropright-circle" class="list-icon" id="forward-btn-1"></ion-icon>
                    </div>
                </div>
                <div class="dash-section">
                    <h1 class="dash-section-title">Popular Quizzes</h1>
                    <div class="list-container">
                        <ion-icon name="arrow-dropleft-circle" class="list-icon" id="back-btn-2"></ion-icon>

                        <div class="scroll-list">
                            <div class="scroll-item">Item 1</div>
                            <div class="scroll-item">Item 2</div>
                            <div class="scroll-item">Item 3</div>
                            <div class="scroll-item">Item 4</div>
                            <div class="scroll-item">Item 5</div>
                            <div class="scroll-item">Item 6</div>
                            <div class="scroll-item">Item 7</div>
                            <div class="scroll-item">Item 8</div>
                        </div>
                        <ion-icon name="arrow-dropright-circle" class="list-icon" id="forward-btn-2"></ion-icon>
                    </div>
                </div>
                <div class="dash-section">
                    <h1 class="dash-section-title">Top Performers</h1>
                    <div class="list-container">
                        <ion-icon name="arrow-dropleft-circle" class="list-icon" id="back-btn-3"></ion-icon>

                        <div class="scroll-list">
                            <div class="scroll-item">Item 1</div>
                            <div class="scroll-item">Item 2</div>
                            <div class="scroll-item">Item 3</div>
                            <div class="scroll-item">Item 4</div>
                            <div class="scroll-item">Item 5</div>
                            <div class="scroll-item">Item 6</div>
                            <div class="scroll-item">Item 7</div>
                            <div class="scroll-item">Item 8</div>
                        </div>
                        <ion-icon name="arrow-dropright-circle" class="list-icon" id="forward-btn-3"></ion-icon>
                    </div>
                </div>





            </div>
        </div>

    }
    else
    {
        <p>User not found or you are not authorized to view this profile.</p>
    }

    <script>
  // Get the modals
  var firstModal = document.getElementById("firstModal");
  var secondModal = document.getElementById("secondModal");

  // Get the button that opens the first modal
  var openFirstModalBtn = document.getElementById("openModalBtn");

  // Get the button inside the first modal that opens the second modal
  var openSecondModalBtn = document.getElementById("openSecondModalBtn");

  // Get the button inside the second modal that goes back to the first modal
  var backToFirstModalBtn = document.getElementById("backToFirstModalBtn");

  // Get the <span> elements that close the modals
  var closeFirstModal = document.getElementsByClassName("close")[0];
  var closeSecondModal = document.getElementsByClassName("secondClose")[0];

  // When the user clicks the button, open the first modal
  openFirstModalBtn.onclick = function() {
    firstModal.style.display = "flex";
  }

  // When the user clicks on <span> (x), close the first modal
  closeFirstModal.onclick = function() {
    firstModal.style.display = "none";
  }

  // When the user clicks on <span> (x), close the second modal
  closeSecondModal.onclick = function() {
    secondModal.style.display = "none";
  }

  // When the user clicks the button inside the first modal, close the first modal and open the second
  openSecondModalBtn.onclick = function() {
    firstModal.style.display = "none";
    secondModal.style.display = "flex";
  }

  // When the user clicks the button inside the second modal, close the second modal and open the first modal
  backToFirstModalBtn.onclick = function() {
    secondModal.style.display = "none";
    firstModal.style.display = "flex";
  }

  // When the user clicks anywhere outside of the modals, close them
  window.onclick = function(event) {
    if (event.target == firstModal) {
      firstModal.style.display = "none";
    }
    if (event.target == secondModal) {
      secondModal.style.display = "none";
    }
  }

      
        // var successMessage = "@TempData["SuccessMessage"]";
        // if(successMessage != null) {
        //     secondModal.style.display = "none";
        //     firstModal.style.display = "flex";
        // }
    

</script>



    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>



    <script>
        let scrollContainers = document.querySelectorAll(".scroll-list");

        let backBtnOne = document.querySelector("#back-btn-1");
        let forwardBtnOne = document.querySelector("#forward-btn-1");

        let backBtnTwo = document.querySelector("#back-btn-2");
        let forwardBtnTwo = document.querySelector("#forward-btn-2");

        let backBtnThree = document.querySelector("#back-btn-3");
        let forwardBtnThree = document.querySelector("#forward-btn-3");

        scrollContainers.forEach(scrollContainer => {
            scrollContainer.addEventListener("wheel", (e) => {
                e.preventDefault();
                scrollContainer.scrollLeft += e.deltaY
            });
        });

        backBtnOne.addEventListener("click", (e) => {
            scrollContainers[0].scrollLeft -= 400;
        });
        forwardBtnOne.addEventListener("click", (e) => {
            scrollContainers[0].scrollLeft += 400;
        });

        backBtnTwo.addEventListener("click", (e) => {
            scrollContainers[1].scrollLeft -= 400;
        });
        forwardBtnTwo.addEventListener("click", (e) => {
            scrollContainers[1].scrollLeft += 400;
        });

        backBtnThree.addEventListener("click", (e) => {
            scrollContainers[2].scrollLeft -= 400;
        });
        forwardBtnThree.addEventListener("click", (e) => {
            scrollContainers[2].scrollLeft += 400;
        });



        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>

    <script>

        const items = document.querySelectorAll(".modal-question");
        items.forEach(item => {
            item.addEventListener("click", (e) => {
                item.classList.toggle("selected");
                var count = document.getElementsByClassName("selected").length;
                document.getElementById("questions-selected").textContent = "- Questions selected: " + count;
                
            })
        })



         function submitSelectedQuestions() {
                const selectedItems = document.querySelectorAll(".selected");
                const selectedIds = Array.from(selectedItems).map(item => item.getAttribute('data-id'));
                // document.getElementById('selected-questions-input').value = selectedIds.join(',');
                // console.log("Selected questions: " + document.getElementById('selected-questions-input').value)
                // if(selectedIds.length < 5) {
                //     alert("Pick at least 5 questions");
                // } else {
                //     Swal.fire({
                //     customClass: 'swal-wide',
                // title: "Good job!",
                // text: "You clicked the button!",
                // icon: "success"
                //     });
                // }

                if(selectedIds.length >= 5 ) {
                    // post
                    document.getElementById('selectedQuestions').value = selectedIds.join(',');
                     // Submit the form
                    document.getElementById('pick-questions-form').submit();
                } else {
                    alert("Pick at least 5 questions");
                }
                
            }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>


</html>
